<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        BLLLAHHHvohwoefhpwhfpiewhf
        <footer>
           
        </footer>
    </div>
    @RenderSection("scripts", required: false)
<script type="text/javascript" src="/dist/bundle.js"></script></body>
</html>
